@charset "utf-8";
/* Robot PJ 메인 CSS - main.css */
/* 메인 페이지에만 적용되는 css */

/* 외부 css 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);



/* 컨텐츠 파트 최상위부모 */
body{
    background: #dbddec;
}


/****************************** 2. 메인영역 ******************************/
/* 속박스 */
.cont{
    position: relative;
    /* 부모자격 */
    /* height: 788px; -> 비율유지는 높이값이 불필요! */
    /* background: url(../imgs/menurobot.jpg) no-repeat top/100%; */
}
/* 비율유지 가상요소 */
/* .cont::before{
    content: '';
    display: block;
    padding-top: 65.66%;
} */

.tinfo{
    position: relative;
}
.tinfo p{
    /* position: absolute; */
    font-size: 1.5vw;
    text-align: center;
}

/* 2-1. 스크린박스 */
#screen{
    width: 100%;
   object-fit: contain;
}
/* 2-2. 유튜브 아이프레임 */
#screen iframe{
    width: 100%;
    height: 100%;
    border: none;
}

video {
    object-fit: contain;
}

/* application 비디오박스  공통*/
.appvid{
    text-align: center;
}

/* application 비디오박스 */
#app{
    width: 60%;
    object-fit: contain;
    /* padding-left: 40px; */
    text-align: center;
    padding: 10px;
}



/* 메인 영역 */
.cont{
    /* padding-top: 500px; */

    border-style: border-box;
    /* 일반적인 박스는 content-box이며 가로, 세로크기를
    설정할 경우 그 크기는 컨텐트 영역의 크기다!
    박스의 보더와 패딩을 제외한 내용영역을 컨텐트 영역이라고 한다!
    패딩과 보더를 포함하여 크기를 정하려면
    border-style: border-box 라고 셋팅하면 된다!
    여기에서는 min-height: 800px 크기에 패딩 500px이 포함됨! */
}


.logo1{
    width: 100%;
}


.exp{
    position: absolute;
    /* 높이값 설정: 
    0px-> 250px 오버시 변경 */
    height: 0px;
    left: 0;
    overflow: auto;

    /* 트랜지션: 속성 시간 이징 지연 */
    transition: height 0.4s ease-out;
    border-radius: 20px 5px 5px 20px;
    /* flex-wrap: wrap; */
    /* border-style: border-box; */
}



