@charset "utf-8";
/* Robot PJ 서브공통 - sub.css */

/* 외부 css 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 상단메뉴 고정하기 */
#top{
    transform: translateY(0);
    animation: none;
}

/* 메인영역 배경색 */
#cont{
    background-color: #ddd;
}



/* 2-1.  */
.stit{
    font-family: pist;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    padding: 40px 0 20px;
}

/* 2-2. 서브 컨텐츠 박스 */
.scont{
    min-height: 600px;
}

/* 스와이퍼 박스 */
.swiper {
    max-width: 1300px;
    height: 500px;
    margin: 0 auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
